.tblGreen {
	border-collapse: collapse;
	text-align: center;
	font-family: 'Trebuchet MS';
}
.tblGreen td, th {
	font-size: 12pt;
	border: 1px solid #98bf21;
	height: 30px;
}
.tblGreen th {
	background-color:#A7C942;
	color:#ffffff;
	font-family: Georgia;
}
.tblGreen tr.alt td {
	color:#000000;
	background-color:#EAF2D3;
}
.tblGreen caption {
	height: 30px;
	text-align: left;
	font-weight: bold;
}